@model KosovaMap2.Models.TeDhena

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Te zhdukurit - KosovaMap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KosovaMap.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/location.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<style>
    body {
        margin: 60px;
        background-image: url('@Url.Content("~/images/background.jpg")');
        background-position: center;
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
</style>
<h3 class="mb-4">Fshij Të Dhëna</h3>
<hr />
<form asp-action="Delete" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <p>A jeni i sigurt që dëshironi të fshini këto të dhëna?</p>
    </div>

    <div class="form-group">
        <b><label asp-for="EmriMbiemri" class="control-label">Emri dhe Mbiemri:</label></b>
        <p>@Model.EmriMbiemri</p>
    </div>

    <div class="form-group">
        <b><label asp-for="DataLindjes" class="control-label">Data e Lindjes:</label></b>
        <p>@Model.DataLindjes</p>
    </div>

    <div class="form-group">
        <b><label asp-for="Vendlindja" class="control-label">Vendlindja:</label></b>
        <p>@Model.VendlindjaNavigation.QytetiEmri</p>
    </div>

    <div class="form-group">
        <b><label asp-for="DataZhdukjes" class="control-label">Data e Zhdukjes:</label></b>
        <p>@Model.DataZhdukjes</p>
    </div>

    <div class="form-group">
        <b><label asp-for="VendiZhdukjes" class="control-label">Vendi i Zhdukjes:</label></b>
        <p>@Model.VendiZhdukjesNavigation.QytetiEmri</p>
    </div>

    <div class="form-group">
        <b><label asp-for="Komente" class="control-label">Komente:</label></b>
        <p>@Model.Komente</p>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>