@model KosovaMap2.Models.TeDhena

@{
    ViewData["Title"] = "Update";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Te zhdukurit - KosovaMap</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KosovaMap.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/location.png" type="image/x-icon">
</head>
<style>
    body {
        margin: 60px;
        background-image: url('@Url.Content("~/images/background.jpg")');
        background-position: center;
        color: white;
    }

    .back-to-index {
        position: absolute;
        top: 60px;
        right: 60px;
        z-index: 1000;
    }
</style>
<h3 class="mb-4">Përditëso Të Dhëna</h3>
<a href="https://localhost:7248/" class="btn btn-secondary back-to-index">X</a>

<form asp-action="Update">
    <input type="hidden" asp-for="Id" />

    <div class="form-group row">
        <label asp-for="EmriMbiemri" class="col-sm-3 col-form-label">Emri dhe Mbiemri:</label>
        <div class="col-sm-9">
            <input asp-for="EmriMbiemri" class="form-control" placeholder="Shkruaj emrin dhe mbiemrin..." />
            <span asp-validation-for="EmriMbiemri" class="text-danger"></span>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label asp-for="DataLindjes" class="col-sm-3 col-form-label">Data e Lindjes:</label>
        <div class="col-sm-9">
            <input asp-for="DataLindjes" class="form-control" type="date" />
            <span asp-validation-for="DataLindjes" class="text-danger"></span>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label asp-for="Vendlindja" class="col-sm-3 col-form-label">Vendlindja:</label>
        <div class="col-sm-9">
            <select asp-for="Vendlindja" class="form-control">
                <option value="" disabled selected>-- Zgjedh Qytetin --</option>
                @foreach (var city in ViewData["Cities"] as List<Qyteti>)
                {
                    <option value="@city.QytetiId">@city.QytetiEmri</option>
                }
            </select>
            <span asp-validation-for="Vendlindja" class="text-danger"></span>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label asp-for="DataZhdukjes" class="col-sm-3 col-form-label">Data e Zhdukjes:</label>
        <div class="col-sm-9">
            <input asp-for="DataZhdukjes" class="form-control" type="date" />
            <span asp-validation-for="DataZhdukjes" class="text-danger"></span>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label asp-for="VendiZhdukjes" class="col-sm-3 col-form-label">Vendi i zhdukjes:</label>
        <div class="col-sm-9">
            <select asp-for="VendiZhdukjes" class="form-control">
                <option value="" disabled selected>-- Zgjedh Qytetin --</option>
                @foreach (var city in ViewData["Cities"] as List<Qyteti>)
                {
                    <option value="@city.QytetiId">@city.QytetiEmri</option>
                }
            </select>
            <span asp-validation-for="VendiZhdukjes" class="text-danger"></span>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <label asp-for="Komente" class="col-sm-3 col-form-label">Komente:</label>
        <div class="col-sm-9">
            <textarea asp-for="Komente" class="form-control" placeholder="Shkruani komentet tuaja këtu..."></textarea>
            <span asp-validation-for="Komente" class="text-danger"></span>
        </div>
    </div>
    <br>

    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>